@model IEnumerable<GetAllEmployeeDto>
@{
    ViewData["Title"] = "All Employees";
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
<h1 class="my-3 text-center">@ViewData["Title"]</h1>
<div class="d-flex justify-content-between align-items-center px-5">
    <a class="btn btn-primary" asp-action="Create">Create Employee</a>
    <a class="btn btn-outline-warning" asp-action="DeletedEmpList">Deleted Employees List</a>
</div>
<div class="container my-4">
    @if (Model.Count() > 0)
    {
        <table class="table table-hover table-striped">
            <thead class="bg-dark text-light">
                <tr>
                    <td>@Html.DisplayNameFor(E => E.FullName)</td>
                    <td>@Html.DisplayNameFor(E => E.Email)</td>
                    <td>@Html.DisplayNameFor(E => E.Age)</td>
                    <td>@Html.DisplayNameFor(E => E.Address)</td>
                    <td>@Html.DisplayNameFor(E => E.Gender)</td>
                    <td>@Html.DisplayNameFor(E => E.IsActive)</td>
                    <td>@Html.DisplayNameFor(E => E.EmployeeWorkType)</td>
                    <td>@Html.DisplayNameFor(E => E.Department)</td>
                    <td>Details</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.FullName</td>
                        <td>@emp.Email</td>
                        <td>@emp.Age</td>
                        <td>@emp.Address</td>
                        <td>@emp.Gender</td>
                        <td>@emp.IsActive</td>
                        <td>@emp.EmployeeWorkType</td>
                        <td>@emp.Department</td>
                        <td><a class="btn btn-warning" asp-controller="Employee" asp-action="Details" asp-route-id="@emp.Id"> <i class="fa-regular fa-eye"></i> Details</a></td>
                        <td><a class="btn btn-success" asp-controller="Employee" asp-action="Update" asp-route-id="@emp.Id"> <i class="fa-solid fa-pen-to-square"></i> Update</a></td>
                        <td><a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-@emp.Id"> <i class="fa-solid fa-trash"></i> Delete</a></td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="Modal-@emp.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting @emp.FullName</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    This Employee Will Be Deleted Temporarly, You Sure You Want To Continue?
                                </div>
                                <div class="modal-footer">
                                    <form method="post" asp-action="SoftDelete">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger" asp-action="SoftDelete" asp-route-Id="@emp.Id">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="alet alert-warning p-3">There is No Departments</h4>
    }
</div>
